*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 100vh;
    padding: 2rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
  }

/* MENU */
.menu-mobile-lines {
  position: absolute;
}

  .menu {
    position: fixed;
    z-index: 2;
    height: 6rem;
    min-width: 100vw;
    background-color: #FFFFFF;
    border-bottom: .1rem solid #e5e5e5;
  }

  .menu-content {
    height: 100%;
    margin: 0 auto;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .menu ul {
    list-style: none;
    display: flex;
  }

  .menu ul a {
    color: #313133;
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
  }


  .menu-logo a{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #000;
  }

  .menu-logo a:hover{
    cursor: pointer;  
  }

 

  .menu-logo a span.logo-detail {
    font-weight: bold;
  }

  .menu-logo a span.logo-detail-point {
    margin-top: -1rem;
    font-size: 3rem;
    color: #f77f00;
  }

  .menu-icons {
    display: flex;
    gap: 1rem;
  }

  .menu-icons a:hover path {
    fill: #f77f00;
    transition: all 300ms ease-in-out;
  }

  .menu-content nav a::after {
  content: "";
  position: absolute;
  bottom: 1.4rem;
  left: 50%;
  width: 0;
  height: .2rem;
  background-color: #f77f00;
  transition: all 300ms ease-in-out;
  }

  .menu-content nav a:hover::after {
  width: 50%;
  left: 25%;
  }

  /* HOME */
  .page-home {
    background-image: url('../img/handsome-carpenter.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .main-content {
    color: #FFFFFF;
    min-height: 100vh;
    padding: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .home-title {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .main-content b{
  color: #f77f00;
  }

  .home-description {
    font-size: 1.8rem;
    font-weight: 300;
  }

  .home-description p {
    margin:  2.5rem 0 5rem 0 ;
    max-width: 80rem;
  }
 
  .home-description button {
    width: 30rem;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    border: none;
    border-radius: .2rem;
  }

  .home-description button.bg-orange {
    background-color: #f77f00;
    color: #FFFFFF;
  }

  .home-description button:hover {
    transition: all 300ms ease-in-out;
    cursor: pointer;
    scale: 1.03;
  }

  
  .button-space {
    gap: .6rem;
    display: flex;
  }

  /* ABOUT */
  .page {
    max-width: 150rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #46494c;
  }

  .about-content{
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 4rem;
  } 

  .about-content img{
    width: 100%;
  }

  .about-text h2, #services h2{
    font-size: 4rem;
    text-transform: uppercase;
  }

  .about-text p {
    margin-top: 5rem;
    font-size: 1.8rem;
    text-align: justify;
  }

  .about-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 10rem;
  }

  .about-details-info h3 {
    font-size: 5rem;
  }

  .about-details p{
    padding: 0;
    font-size: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .about-text h2 span {
    color: #f77f00;
  }

  .time-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 150rem;
    min-height: 30rem;
    margin: 0 auto;
    color: #46494c;
  }

  .time-line-progress {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .time-line-progress div.ball {
    width: 13rem;
    height: 13rem;
    background-color: #f77f00;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .time-line {
    font-size: 1.6rem;
  }

  .time-line h4 {
    padding-top: 1.5rem;
    font-size: 1.9rem;
  }

  .time-line p {
    padding-top: .7rem;
    max-width: 25rem;
    text-align: center;
  }
  
  /* SERVICES */
  .services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    padding-top: 1.5rem;
    gap: 2.2rem;
  }

  .service-about img {
    max-width: 100%;
    border-radius: .5rem;
  }

  section#services{
    flex-direction: column;
    align-items: start;
  }

  .service-about h3 {
    font-size: 2.2rem;
    padding: 1rem 0;
    font-weight: 300;
  }

  .service-about p {
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: 2rem;
    text-align: justify;
  }

  .service-about a {
    color: #46494c;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .service-about a:hover {
    text-decoration: underline;
    transition: all 300ms ease-in-out;
    color: #f77f00;
  }

  .service-btn {
    grid-column-start: 3;
    margin-top: 10rem;
    align-self: end;
    justify-self: end;
  }

  .services-content button{
    width: 30rem;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    border-radius: .2rem;
    color: #FFFFFF;
    background-color: #f77f00;
    border: .1rem solid #f77f00;
  }

  .services-content button:hover {
    background-color: #FFFFFF;
    color: #46494c;
    border: .1rem solid #f77f00;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }

  /* CONTATC */
  .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo-contact {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 300;
  }

  .logo-contact span {
    margin-top: 9rem;
    font-size: 8rem;
  }

  .logo-contact span.logo-detail {
    font-weight: bold;
  }

  .logo-contact span.logo-detail-point {
    font-size: 10rem;
    color: #f77f00;
  }

  .contact-content hr {
    height: .2rem;
    width: 70rem;
    background-color: #46494c;
    margin: 2rem 0;
  }

  .contact-content h3 {
    font-size: 5rem;
    color:#000;
    margin-bottom: 1rem;
  }

  .contact-about {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .contact-about-icons {
   display: flex;
   padding-top: 2rem;
   gap: 4rem;
  }

  .contact-about p {
    padding: .5rem .2rem;

  }

/* ANIMATIONS */
[data-animated] {
  opacity: 0;
  transition: .4s;
}

[data-animated="left"] {
  transform: translate3d(-10rem, 0, 0);
}

[data-animated="right"] {
  transform: translate3d(10rem, 0, 0);
}

[data-animated="top"] {
  transform: translate3d(0, -30rem, 0);
}

[data-animated="bottom"] {
  transform: translate3d(0, 30rem, 0);
}

[data-animated].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}